.women-jackets-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.women-jackets-text {
  font-size: 45px;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
}
